{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_timetable/index
    Example context (json):
    {
    }
}}
{{#response}}
    <table class="generaltable" id="tm_locations">
        <thead>
            <tr>
                <th>{{#str}} building, local_location {{/str}}</th>
                {{#siteadmin}}
                    <th>{{#str}} university, local_location, {{firstlevel}} {{/str}}</th>
                {{/siteadmin}}
                <th>{{#str}} location_type, local_location {{/str}}</th>
                <th>{{#str}} address, local_location {{/str}}</th>
                <th>{{#str}} actions {{/str}}</th>
            </tr>
        </thead>
        <body>
            {{#records}}
                {{#haslocations}}
                    <tr>
                        <td id="b_fullname">{{fullname}}</td>
                        {{#siteadmin}}
                            <td>{{costcenter}}</td>
                        {{/siteadmin}}
                        <td>{{institute_type}}</td>
                        <td id="b_address">{{address}}</td>
                        <td class="action_icons d-flex">
                            {{#recordexist}}
                                <!-- <a href="javascript:void(0)" title="{{#str}}cannotedit, local_location{{/str}}" >
                                    <i class="icon fa fa-pencil edit_icon" aria-hidden="true"></i>
                                </a> -->
                                <a href="javascript:void(0)" title="{{#str}}edit, local_location{{/str}}" onclick="(function(e){ require('local_location/newinstitute').location_not_Confirm({ fullname:'{{fullname}}',type:'edit' }) })(event)">
                                    <i class="icon fa fa-pencil edit_icon" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" title="{{#str}}delete, local_location{{/str}}" onclick="(function(e){ require('local_location/newinstitute').location_not_Confirm({ fullname:'{{fullname}}', type:'delete' }) })(event)">
                                    <i class="icon fa fa-trash fa-fw delete_icon" aria-hidden="true"></i>
                                </a>
                            {{/recordexist}}
                            {{^recordexist}}
                                <a href="javascript:void(0)" data-action="createinstitutemodal" title="{{#str}}edit, local_location{{/str}}" class="createinstitutemodal iconsmall" data-value="{{id}}" onclick="(function(e){ require('local_location/newinstitute').init({selector:'createinstitutemodal', contextid:1, instituteid: {{id}} }) })(event)">
                                    <i class="icon fa fa-pencil edit_icon" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:void(0)" title="{{#str}}delete, local_location{{/str}}" onclick="(function(e){ require('local_location/newinstitute').locationConfirm({ action: 'delete_location', id:{{id}}, fullname:'{{fullname}}' }) })(event)">
                                    <i class="icon fa fa-trash fa-fw delete_icon" aria-hidden="true"></i>
                                </a>
                            {{/recordexist}}
                        </td>
                    </tr>
                {{/haslocations}}
            {{/records}}
        </body>
    </table>
{{/response}}
