{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_proposals/view
    Example context (json):
    {
    }
}}

<div class="pull-right mb-3">
<a href="{{back}}" title="Back">
<i class="fa fa-arrow-circle-left" style="font-size:40px;color:#c9243f" ></i>
</a>
<br>

</div>
<button><a href="{{formurl}}" class="btn btn-danger">Add new</a></button>
<div class=" "><br>
<div class="title text-center" >
   <h3>SUBMISSION STATUS</h3>
</div>

<!-- Tabs with icons on Card -->
<div class="card card-nav-tabs">
   <div class="card-header card-header-primary">
      <div class="nav-tabs-navigation">
         <div class="nav-tabs-wrapper">
            <ul class="nav nav-tabs" data-tabs="tabs">
               <li class="nav-item ">
                  <a class="nav-link active" href="#approvals" data-toggle="tab">
                  <i class="fa fa-th-list" ></i>
                  Open submissions<span style="color:red;">({{open}})</span>
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link " href="#approved" data-toggle="tab">
                  <i class="fa fa-check"></i>
                  Approved submissions({{approved}})
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#rejected" data-toggle="tab">
                  <i class="fa fa-times"></i>
                  Rejected  submissions({{rejected}})
                  </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#revision" data-toggle="tab">
                  <i class="fa fa-search"></i>
                  Under revision<span style="color:red;">({{revised}})</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </div>
   <div class="card-body ">
      <div class="tab-content text-center">
         <div class="tab-pane active" id="approvals">
            
                  <table class="table table-bordered" id="table">
                     <thead>
                        <tr>
                           {{#allform_headings}}
                           <th>{{.}}</th>
                           {{/allform_headings}}
                        </tr>
                     </thead>
                     <tbody>
                        {{#allform_rows}}
                        <tr id={{id}}>
                            <td>{{atitle}}</td>
                            <td>{{astatus}}</td>
                            <td class="d-flex justify-content-center align-items-center actions_btns">{{{actions}}}</td>
                        </tr>
                        {{/allform_rows}}
                     </tbody>
                  </table>
              
         </div>
         <div class="tab-pane" id="approved">
            
                  <table class="table table-bordered" id="table2">
                     <thead>
                        <tr>
                           {{#ap_headings}}
                           <th>{{.}}</th>
                           {{/ap_headings}}
                        </tr>
                     </thead>
                     <tbody>
                        {{#ap_rows}}
                        <tr>
                           <td>{{aptitle}}</td>
                           <td>{{apstatus}}</td>
                           <td><button><a href="details.php?formid={{id}}" class="btn btn-info">Details</a></button></td>
                        </tr>
                        {{/ap_rows}}
                     </tbody>
                  </table>
             
         </div>
         <div class="tab-pane" id="rejected">
            
                  <table class="table table-bordered" id="table3">
                     <thead>
                        <tr>
                           {{#r_headings}}
                           <th>{{.}}</th>
                           {{/r_headings}}
                        </tr>
                     </thead>
                     <tbody>
                        {{#r_rows}}
                        <tr>
                           <td>{{rtitle}}</td>
                           <td>{{rstatus}}</td>
                           <td>{{rcomment}}</td>
                        </tr>
                        {{/r_rows}}
                     </tbody>
                  </table>
             
         </div>
         <div class="tab-pane" id="revision">
            
                  <table class="table table-bordered" id="table4">
                     <thead>
                        <tr>
                           {{#re_headings}}
                           <th>{{.}}</th>
                           {{/re_headings}}
                        </tr>
                     </thead>
                     <tbody>
                        {{#re_rows}}
                        <tr>
                           <td>{{retitle}}</td>
                           <td>{{restatus}}</td>
                           <td class="d-flex justify-content-center align-items-center actions_btns">{{{actions}}}</td>
                        </tr>
                        {{/re_rows}}
                     </tbody>
                  </table>
         </div>
      </div>
   </div>
