{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<div class="program_container w-full  h-100 {{programstatusclass}} {{# hide_show}}{{# show}} inactive_program {{/ show}} {{/ hide_show}}">
    <div class="program_courseimg">
        <div class="program_img" style="background-image: url('{{{ imageurl}}}');"></div>
    </div>
    <div class=" d-flex pt-0  justify-content-between programname_status">
        <span class="programicon_container">
            <img src ="{{{ programicon }}}" class="programicon">
        </span>
        <div class=" program_name">
            <a href="view.php?bcid={{programid}}" class="class_name" title = "{{ program }}">{{ programname }}</a>
        </div>
        <div class="pull-right showoptions{{programid}} actionicons">
            {{# action}}
    		{{# mouse_overicon}}
                <span  class="pull-right showoptions" data-action="showoptions{{programid}}" onmouseenter="(function(e){ require('theme_bloom/quickactions').quickactionsCall({ selector:'showoptions{{programid}}' }) })(event)" onmouseleave="(function(e){require('theme_bloom/quickactions').quickactionsCall({ selector:'showoptions{{programid}}' }) })(event)">
                <i class="fa fa-ellipsis-h options" aria-hidden="true" title="" aria-label=""></i></span>
             {{/ mouse_overicon}}
                <ul class="options_container" id="showoptions{{programid}}">
                    {{# cannotdelete}}
                    <li>
                        <a title="{{# str}} coursebackup {{/ str}}" href="javascript:void(0)" alt = "{{# str}} delete {{/ str}}"
                            title = "{{# str}} delete {{/ str}}" onclick="(function(e){ require('local_program/program').deleteConfirm({action:'cannotdeleteprogram', id: {{ programid }}, programid: {{ programid }}, programname: '{{ programname }}'}) })(event)"><i class="fa fa-trash fa-fw" aria-hidden="true" aria-label="" title = "{{# str}} delete {{/ str}}"></i></a>
                    </li>
                    {{/ cannotdelete}}
                    {{# delete}}
                    <li>
                        <a title="{{# str}} coursebackup {{/ str}}" href="javascript:void(0)" alt = "{{# str}} delete {{/ str}}"
                            title = "{{# str}} delete {{/ str}}" onclick="(function(e){ require('local_program/program').deleteConfirm({action:'deleteprogram', id: {{ programid }}, programid: {{ programid }}, programname: '{{ programname }}'}) })(event)"><i class="fa fa-trash fa-fw" aria-hidden="true" aria-label="" title = "{{# str}} delete {{/ str}}"></i></a>
                    </li>
                    {{/ delete}}

    				{{# edit}}
                    <li>
                        <a title="{{# str}} user_enrollments, local_program {{/ str}}" href="javascript:void(0)" title = "{{# str}} edit {{/str}}" onclick="(function(e){ require('local_program/ajaxforms').init({contextid:1, component:'local_program', callback:'program_form', form_status:0, plugintype: 'local', pluginname: 'program', id: {{ programid }} }) })(event)"><i class="fa fa-pencil fa-fw" aria-hidden="true" aria-label="" title = "{{# str}} edit {{/str}}"></i>
                        </a>
                    </li>
                    {{/ edit}}

		            {{# programcompletionstatus}}
                        <li>
                            <a href="#"><i class="fa fa-check-circle-o" aria-hidden="true" aria-label="" title ="{{# str}} completed, local_program {{/ str}}"></i></a>
                        </li>
                    {{/ programcompletionstatus}}
                </ul>
            {{/ action}}
        </div>
    </div>
    <div class="w-full pl-3 pr-3 pb-3 dataContainer">
        <div class="datacontent">
            <div class="description {{^ isdescription }} nodescription {{/ isdescription }}">
                {{# isdescription}}
                    {{^ descriptionstring}}
                        <p class="text-muted descrp_content" title="{{{ description }}}">{{{ description }}}</p>
                    {{/ descriptionstring }}
                    {{# descriptionstring}}
                        <p class="text-muted descrp_content" title="{{{ description }}}">{{ descriptionstring }}...</p>
                    {{/ descriptionstring }}
                {{/ isdescription}}
                {{^ isdescription }}
                    <p class="alert alert-info text-center">{{#str}}nocoursedesc, local_courses{{/str}}</p>
                {{/ isdescription }}
            </div>
        </div>
    </div>
    <div class="dataContainer_course d-flex flex-column w-full  p-0">
    {{#superadmin}}
        <div class=" d-flex p-0 dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{firstlevel}}</span>
                <span class="text-muted pull-right bccolon">:</span>
                <span class="bc_value font-weight-bold" title="{{costcentername}}">{{ costcentername }}</span>
            </p>
        </div>

        <div class=" d-flex p-0 dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{secondlevel}}</span>
                <span class="text-muted pull-right bccolon">:</span>
                <span class="bc_value font-weight-bold" title="{{departmentname}}">{{ departmentname }}</span>
            </p>
        </div>

        <div class=" d-flex p-0 dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{thirdlevel}}</span>
                <span class="text-muted pull-right bccolon">:</span>
                <span class="bc_value font-weight-bold" title="{{subdepartmentname}}">{{ subdepartmentname }}</span>
            </p>
        </div>
    {{/superadmin}}
    {{#firstlevelhead}}
        <div class=" d-flex p-0 dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{secondlevel}}</span>
                <span class="text-muted pull-right bccolon">:</span>
                <span class="bc_value font-weight-bold" title="{{departmentname}}">{{ departmentname }}</span>
            </p>
        </div>

        <div class=" d-flex p-0 dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{thirdlevel}}</span>
                <span class="text-muted pull-right bccolon">:</span>
                <span class="bc_value font-weight-bold" title="{{subdepartmentname}}">{{ subdepartmentname }}</span>
            </p>
        </div>
    {{/firstlevelhead}}

    {{#secondlevelhead}}
        <div class=" d-flex p-0 dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{thirdlevel}}</span>
                <span class="text-muted pull-right bccolon">:</span>
                <span class="bc_value font-weight-bold" title="{{subdepartmentname}}">{{ subdepartmentname }}</span>
            </p>
        </div>
    {{/secondlevelhead}}



        <div class=" d-flex p-0 dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{# str}} batch, local_program {{/str}}
                </span>
                <span class="text-muted pull-right bccolon">:</span>
                <span class="bc_value font-weight-bold" title="{{ stream }}">{{ streamname }}</span>
            </p>
        </div>
        <div class="d-flex  p-0  dataContainer_left">
            <p class="w-full  d-flex contentlist mb-0">
                <span class="lable_name  text-muted">{{# str}} enrolled, local_program {{/str}}
                    <span class="text-muted pull-right bccolon">:</span>
                </span>
                <span class="bc_value font-weight-bold">{{ enrolled_users }}</span>
            </p>
        </div>
        <div class="d-flex p-0 dataContainer_left">
        <p class="w-full d-flex contentlist mb-0">
                 <span class="bcleftlable_name  text-muted">{{# str}} curriculumid, local_program {{/str}}
                    <span class="text-muted pull-right bccolon">:</span>
                </span>
                <span class="bc_value font-weight-bold" title="{{ curriculumname }}">{{ curriculumname }}</span>
            </p>
        </div>
        <div class="d-flex p-0  dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{# str}} levels, local_program {{/str}}
                    <span class="text-muted pull-right bccolon">:</span>
                </span>
                <span class="bc_value font-weight-bold" title="{{ shortname }}">{{ totallevels }}</span>
            </p>
        </div>
        <div class="d-flex p-0  dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{# str}} duration, local_program {{/str}}
                    <span class="text-muted pull-right bccolon">:</span>
                </span>
                <span class="bc_value font-weight-bold">{{ programstartdate }} - {{ programenddate }}</span>
            </p>
        </div>
        {{#hasadmissions}}
        <div class="d-flex p-0  dataContainer_left">
            <p class="w-full d-flex contentlist mb-0">
                <span class="bcleftlable_name  text-muted">{{# str}} aenddate, local_program {{/str}}
                    <span class="text-muted pull-right bccolon">:</span>
                </span>
                <span class="bc_value font-weight-bold">{{ admissionenddate }}</span>
            </p>
        </div>
        {{/hasadmissions}}
        {{#hasadmissions}}
        {{#addmissions}}
        <div class="admsn_info d-flex justify-content-center {{class}}">{{addmissions}}</div>
        {{/addmissions}}
        {{#makesemactive}}
        <div class="admsn_info d-flex justify-content-center {{class}}">{{makesemactive}}</div>
        {{/makesemactive}}
        {{/hasadmissions}}
    </div>
</div>
