<ul class="nav nav-pills mb-1" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
      aria-controls="pills-home" aria-selected="true">Program Details</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
      aria-controls="pills-profile" aria-selected="false">Student Details</a>
  </li>

</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
    aria-labelledby="pills-home-tab">
    <div class="program_details">
      <div class="accordion" id="accordionExample">
        {{#program}}
          {{#rowdata}}
            <!-- <div class="card mb-3">
              <div class="card-header d-flex justify-content-between align-items-center"
                    id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    {{name}}
                  </button>
                </h5>
                <span class="caretdown_icon"></span>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="programdata_container">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="group_id m-2">
                            <p class="h6">
                              {{#str}}startdt, local_groups{{/str}} : <b> {{ startdate }}</b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}enddt, local_groups{{/str}} : <b>{{enddate}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 ">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}semester, local_groups{{/str}} :<b> {{semester}} </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}pcourses, local_groups{{/str}} :<b> {{noofcourses}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}corecourses, local_groups{{/str}} : <b> {{core}} </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6 ">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}elactivecourses, local_groups{{/str}} : <b> {{elactive}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}enroll_user, local_groups{{/str}} : 
                              <b>
                                <a id="batchuserpopup" href="javascript:void(0)"
                                    data-batchid="{{batchid}}" data-action="popupmodal{{batchid}}" data-value={{role_count}}>
                                  {{enroll_user}}
                                </a>
                              </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}pcertificate, local_groups{{/str}} : <b> {{certificatename}} {{{downloadlink}}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}curri_name, local_groups{{/str}} : <b>{{curr_name}} </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}course_elective, local_groups{{/str}} : <b>{{course_elective}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row" >
                        <div class="col-lg-6 ">
                          <div class="group_count m-2">
                            <p class = "h6">
                              {{#str}}pfaculty, local_groups{{/str}}  : 
                              <b>{{#instructor}}</b>
                                <span title = "{{username}}" data-toggle="tooltip"
                                      data-placement="top">
                                    {{{userimage}}}
                                </span>
                              {{/instructor}}
                              {{^instructor}}
                              <span>N/A</span>
                              {{/instructor}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12 " >
                          <div class="group_count m-2">
                            <p class = "h6">
                              {{#str}}pdescription, local_groups{{/str}} :
                              <b>
                                <span class = "h6"> {{description}}</span>
                              </b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="group_count m-2">
                            <p class = "h6">
                              {{#str}}prerequisite, local_groups{{/str}} :
                              <b>
                                <span class = "h6"> {{prerequisite}}</span>
                              </b>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div> -->
            <div class="card mb-3">
              <div class="card-header d-flex justify-content-between align-items-center"
                    id="headingOne">
                    <h5 class="mb-0">
                      <a class="btn btn-link" type="button"
                              data-toggle="collapse" data-target="#collapseOne"
                              aria-expanded="true" aria-controls="collapseOne">
                        <b>{{name}}</b>
                        <span class="caretdown_icon"></span>
                      </a>
                      
                    </h5>
                    
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <div class="programdata_container">
                      <!-- Date -->
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="group_id m-2">
                            <p class="h6">
                              {{#str}}startdt, local_groups{{/str}} : <b> {{ startdate }}</b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">{{#str}}enddt, local_groups{{/str}} : <b>{{enddate}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- semester and courses -->
                      <div class="row">
                        <div class="col-sm-6 ">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}semester, local_groups{{/str}} :<b> {{semester}} </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}pcourses, local_groups{{/str}} :<b> {{noofcourses}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- core and elective courses -->
                      <div class="row">
                        <div class="col-sm-6 ">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}corecourses, local_groups{{/str}} : <b> {{core}} </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}elactivecourses, local_groups{{/str}} : <b> {{elactive}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- enrolled users and certificate-->
                      <div class="row">
                        <div class="col-sm-6 ">
                          <div class="group_count m-2">
                            <p class="h6">{{#str}}enroll_user, local_groups{{/str}} :
                              <b>
                                <a id="batchuserpopup" href="javascript:void(0)"
                                  data-batchid="{{batchid}}" data-action="popupmodal{{batchid}}" data-value="{{role_count}}">
                                    {{enroll_user}}
                                </a>
                              </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}pcertificate, local_groups{{/str}} : <b> {{certificatename}} {{{downloadlink}}}</b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- curr_name and course_elective -->
                      <div class="row">
                        <div class="col-sm-6 ">
                          <div class="group_count m-2">
                            <p class="h6">
                              {{#str}}curri_name, local_groups{{/str}} : <b>{{curr_name}} </b>
                            </p>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="group_count m-2">
                            <!-- <p class="h6">
                              {{#str}}course_elective, local_groups{{/str}} : <b>{{course_elective}}</b>
                            </p> -->
                          </div>
                        </div>
                      </div>
                      <!-- faculty -->
                      <div class="row">
                        <div class="col-sm-12 ">
                          <div class="group_count m-2">
                            <p class = "h6">{{#str}}pfaculty, local_groups{{/str}}  : 
                              {{#instructor}}
                                <span title = "{{facultyname}} {{username}}" data-toggle="tooltip" data-placement="top">
                                  {{{userimage}}}
                                </span>
                              {{/instructor}}
                              {{^instructor}}
                              <span><b>N/A</b></span>
                              {{/instructor}}
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- Description -->
                      <div class="row">
                        <div class="col-sm-12 ">
                          <div class="group_count m-2">
                            <p class = "h6">
                              {{#str}}pdescription, local_groups{{/str}} :  
                              <b><span class = "h6"> {{description}}</span></b>
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- prerequisite -->
                      <div class="row">
                        <div class="col-sm-12 ">
                          <div class="group_count m-2">
                            <p class = "h6">
                              {{#str}}prerequisite, local_groups{{/str}} :
                              <b><span class = "h6"> {{prerequisite}}</span></b>
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            <!-- core courses -->
            <div class="card mb-3">
              <div class="card-header d-flex justify-content-between align-items-center"
                    id="headingTwo">
                    <h5 class="mb-0">
                      <a class="btn btn-link collapsed" type="button"
                              data-toggle="collapse" data-target="#collapseTwo"
                              aria-expanded="false" aria-controls="collapseTwo">
                        <b>{{#str}}corecourses, local_groups{{/str}}</b>
                        <span class="caretdown_icon"></span>
                      </a>
                      
                    </h5>
                    
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                  data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>{{{coursefullname}}}</ul>
                  </div>
              </div>
            </div>
            <!-- elective courses -->
            <div class="card mb-3">
              <div class="card-header d-flex justify-content-between align-items-center"
                  id="headingThree">
                <h5 class="mb-0">
                  <a class="btn btn-link collapsed" type="button" data-toggle="collapse"
                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <b>{{#str}}elactivecoursesnm, local_groups{{/str}}</b>
                    <span class="caretdown_icon"></span>
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                data-parent="#accordionExample">
                <div class="card-body">
                   <ul>{{{ecoursefullname}}}</ul>
                </div>
              </div>
            </div>
          {{/rowdata}}
        {{/program}}
      </div>
    </div>
  </div>

   <!-- program details panel  -->
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <table class="generaltable" id='local_course_data'>
      <thead>
        <tr role="row">
          <th>Name</th>
          <th>Email</th>
          <th> Program Progress </th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        {{#user}}
        {{#rowdata1}}
        <tr>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>
            <span class="userdata">
              <a id="batchsemesterpopup" href="javascript:void(0)" data-roleid="{{roleid}}"
                data-action="popupmodal{{roleid}}" data-username="{{name}}" data-batchid="{{batchid}}" data-value={{role_count}} >
                <div class="progress custom_circle_progress" data-value='{{perwe}}'>
                  <span class="progress-left">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar border-primary"></span>
                  </span>
                  <div
                    class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                    <div class="h6 font-weight-bold text-size">{{perwe}}<span class="small">%</span></div>
                  </div>
                </div>
              </a>
            </span>
          </td>
          <td>{{{downloadlinkurl}}}</td>
        </tr>
        {{/rowdata1}}
        {{/user}}
      </tbody>
    </table>
    {{#js}}
      $(function() {
        $('.close').on('click', function() {
          window.location.reload();
        });
        $(".progress").each(function() {
          var value = $(this).attr('data-value');
          var left = $(this).find('.progress-left .progress-bar');
          var right = $(this).find('.progress-right .progress-bar');

          if (value > 0) {
            if (value <= 50) {
              right.css('transform', 'rotate(' + percentageToDegrees(value) + 'deg)' )
            } else {
              right.css('transform', 'rotate(180deg)' )
              left.css('transform', 'rotate(' + percentageToDegrees(value - 50) + 'deg)' )
            }
            if (value == 100) {
              $(this).find('.progress-bar').removeClass('border-primary').addClass('progress-success');
            }
          }
        })
        function percentageToDegrees(percentage) {
          return percentage / 100 * 360 
        }
      });
    {{/js}}
  </div>
</div>
