{{!
    This file is part of eAbyas
    Copyright eAbyas Info Solutons Pvt Ltd, India
    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    @author eabyas  <info@eabyas.in>
}}

        <div class="edu_info w-full">
            <div class="profile_data_content mx-auto d-flex flex-wrap flex-row align-items-center px-3">
                <div class="userinfo-lable col-md-12 mb-2"><b>{{#str}}personalinfo, local_employees{{/str}}</b></div>
                <div class="userinfo-content col-md-12">

                    <div class="row">
                        <div class="column" >
                        <h6>{{# str }} address,local_employees {{/ str }}</h6>
                        <p>{{ address }}</p>
                      </div>
                      <!-- <div class="column" >
                        <h6>{{# str }} location, local_employees {{/ str }}</h6>
                        <p>{{ location }}</p>
                      </div> -->
                      <div class="column" >
                        <h6>{{# str }} timezone {{/ str }}</h6>
                        <p>{{ timezone }}</p>
                      </div>
                      <div class="column" >
                        <h6>{{# str }} phone {{/ str }}</h6>
                        <p>{{ phone }}</p>
                      </div>

                    </div>





                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left  mb-2 p-0">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <div class="text-light"><b>{{# str }} location, local_employees {{/ str }}</b></div>
                                <h6 class="u_info pull-left text-light">{{ location }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2 p-0">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <div class="text-light"><b>{{# str }} timezone {{/ str }}</b></div>
                                <h6 class="u_info pull-left text-light">{{ timezone }}</h6>
                            </div>
                             <div class ="pull-left">
                                <div class="text-light"><b>{{# str }} phone {{/ str }}</b></div>
                                <h6 class="u_info pull-left text-light">{{ phone }}</h6>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="profile_data_content mx-auto d-flex flex-wrap flex-row align-items-center px-3">
                <div class="userinfo-lable col-md-12 mb-2">{{# str }} professionalinfo, local_employees {{/ str }}</div>
                <div class="userinfo-content col-md-12">


                    <div class="row">
                      <div class="column" >
                        <h6>{{# str }} organization, local_employees, {{firstlabelstring}} {{/ str }}</h6>
                        <p>{{ organisation }}</p>
                      </div>
                      <div class="column" >
                        <h6>{{# str }} department, local_employees, {{secondlabelstring}} {{/ str }}</h6>
                        <p>{{ department }}</p>
                      </div>
                      <div class="column" >
                        <h6>{{# str }} subdept, local_employees, {{thirdlabelstring}} {{/ str }}</h6>
                        <p>{{ subdepartment }}</p>
                      </div>
                      <div class="column" >
                        <h6>{{# str }} employeerole,local_employees {{/ str }}</h6>
                        <p>{{ open_type }}</p>
                      </div>
                      
                    </div>





                    <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left mb-2 p-0">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left"> 
                                    <div class="text-light"><b>{{# str }} costcenter, local_employees {{/ str }}</b></div>
                                <h6 class="u_info pull-left text-light">{{ organisation }}</h6>
                            </div>
                        </div>
                    </div>
                      <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2 p-0">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left">
                                <div class="text-light"><b>{{# str }} department {{/ str }}</b></div>
                                <h6 class="u_info pull-left text-light">{{ department }}</h6>
                            </div>
                        </div>
                    </div> -->
                    <!--  <div class="col-12 col-sm-6 col-md-4 col-lg-3 cnt-left pull-left mb-2 p-0">
                        <div class="w-full d-flex flex-row flex-wrap align-content-center justify-content-start">
                            <div class ="pull-left_type">
                                <div class="text-light"><b>{{# str }} employeerole,local_employees {{/ str }}</b></div>
                                <h6 class="u_info pull-left text-light">{{ open_type }}</h6>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>   
