<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#included_service">{{tab}}</a></li>
    <li><a data-toggle="tab" href="#needed_assets">Needed Assets</a></li>
    <li><a data-toggle="tab" href="#delivery_time">Delivery Time</a></li>
    <li><a data-toggle="tab" href="#extra_options">Extra Options</a></li>
  </ul>
   
  <div class="tab-content">
   
 
  <div id="included_service" class="tab-pane fade in active">
    <p>Included Service Text will go here </p>
    </div>
     
     
    <div id="needed_assets" class="tab-pane fade">
     <p> Need Asset Text will go here </p>
     </div>
     
    <div id="delivery_time" class="tab-pane fade">
      <p>Delivery Time Related Text will go here</p>
  
    </div>
    <div id="extra_options" class="tab-pane fade">
       <p> Extra Option text will ho here</p>
    </div>
  </div>