{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_quiz/random_challenge_form_preview

    A preview section for the list of challenges that match the random
    challenge criteria in the random challenge form.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * title A cleaned string (use clean_text()) to display.
    * body HTML content for the boday

    Example context (json):
    {}
}}
  
<!--         <table class="generaltable" id="block_previousss_timetable">
            <thead>
            <tr>
            <th class="header c0" style="" scope="col">{{#str}}subject, block_todays_timetable{{/str}}</th>
            <th class="header c1" style="" scope="col">{{#str}}date, block_todays_timetable{{/str}}</th>
            <th class="header c2 lastcol" style="" scope="col">{{#str}}previous, block_todays_timetable{{/str}}</th>
            </tr>
            </thead>
                <tbody>
                    {{#previousssess}}
                    <tr>
                        <td>{{courses}}</td>
                        {{#date}}
                        <td>{{date}}</td>
                        {{/date}}
                       <td><a href="{{config.wwwroot}}/mod/attendance/sessions.php?id={{previouslink}}&sessionid={{sessionlink}}&action=2">{{#str}}reschedule, block_todays_timetable{{/str}}</a>
                        <br><a href="{{config.wwwroot}}/mod/attendance/take.php?id={{previouslink}}&sessionid={{sessionlink}}&grouptype=0">{{#str}}pendingattendance, block_todays_timetable{{/str}}</a></td>
                    </tr>
                    {{/previousssess}}
                </tbody>
            </table>
{{^previousssess}}
    <p class="alert alert-info text-center">{{#str}}Noprevioussessions, block_todays_timetable{{/str}}</p>
{{/previousssess}} -->


{{#previousssess}}
<div class="previous_session">
    <div class="course_details p-2 d-flex justify-content-between align-items-center">
        <div class="todaytimetable_content">
            <h5 class="card-text">{{courses}}</h5>
               <span class="card-text1 todays_date">{{#date}}{{date}}{{/date}}</span>
        </div>
        <div class="todaytimetable_context">
            {{# atttaken}}
                <a class="text-danger reshedule_content " href="{{config.wwwroot}}/local/timetable/individual_session_update.php?id={{previouslink}}&sessionid={{sessionlink}}&action=2&semesterid={{levelid}}&courseid={{courseid}}" target="_blank">{{#str}}reschedule, block_todays_timetable{{/str}}</a>
            {{/ atttaken}}

            <a class="text-danger attendance_content " href="{{config.wwwroot}}/local/attendance/take.php?id={{previouslink}}&sessionid={{sessionlink}}&grouptype=0&viewmode=2&semid={{levelid}}&batch_group=0" target="_blank">{{#str}}pendingattendance, block_todays_timetable{{/str}}</a>
        </div>
    </div>
</div>
    {{/previousssess}}
    {{^previousssess}}
    <p class="alert alert-info text-center">{{#str}}Noprevioussessions, block_todays_timetable{{/str}}</p>
{{/previousssess}}
